/****************************************
---------------ADVANTATGES---------------
****************************************/

.advantatges {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
}

.advantatge {
    display: flex;
    flex-direction: column;
    margin: 0.5em auto;
    border: rgb(204, 231, 208) 1px solid;
    width: 80%;
    border-radius: 4px;
    padding: 1em 0;
}

.advantatge > img {
    height: auto;
    margin: 0 auto;
}

.advantatge > figcaption {
    font-weight: 600;
    margin: 1em auto 0em;
    border: none;
    border-radius: 4px;
    color: rgb(8, 129, 120);
    padding: 0.25em 0.5em;
}

.advantatges > :nth-child(1) > figcaption {
    background-color: rgb(253, 221, 228);
}

.advantatges > :nth-child(2) > figcaption {
    background-color: rgb(205, 235, 188);
}

.advantatges > :nth-child(3) > figcaption {
    background-color: rgb(209, 232, 242);
}

.advantatges > :nth-child(4) > figcaption {
    background-color: rgb(205, 212, 248);
}

.advantatges > :nth-child(5) > figcaption {
    background-color: rgb(246, 219, 246);
}

.advantatges > :nth-child(6) > figcaption {
    background-color: rgb(255, 242, 229);
}

@media only screen and (min-width: 600px) {

    .advantatges {
        display: flex;
        justify-content: space-between;
        margin: 5em 6em;
    }

    .advantatge {
        width: 10%;        
        box-shadow: rgba(0, 0, 0, 0.03) 20px 20px 34px 5px;
        padding: 2em 0;
    }

    .advantatge > img {
        margin: 0 1em;
    }

    .advantatge > figcaption {
        margin: 1em auto 0;
        font-size: 1.25em;
        padding: 0.5em 1em;
    }

}